
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ang Pinagmulan : Aling Nena </title>

    <!-- Local Style -->
    
    <link href="/css/style.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-center">
        <div class="navbar-inner">
             <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                       <span class="icon-bar"><img src="/css/nena.png"/></span>
                  </a>
                  <div class="nav-collapse">
                       <ul class="nav">
                            <li><a href="/">Aling Nena</a></li>
                            <li><a href="/products">Mga Paninda</a></li>
                            <li class="active"><a href="#">Ang Pinagmulan</a></li>
                            <li><a href="/contact">Kontak</a></li>
                       </ul>
                  </div><!--/.nav-collapse -->
             </div><!-- container -->
        </div><!-- navbar-inner -->
    </div><!--  navbar navbar-fixed-top -->

    <div class="container">
      <div class="root">
        <div class="hd"><h1>Tindahan ni Aling Nena</h1></div>
        <div class="text" style="text-align:justify;"><p>
        Siguradong kilala mo na si Aling Nena at ang kanyang tindahan dahil sa isang popular na kanta noong 1991 ng isang tanyag na bandang Pinoy. Malamang, suki ka na rin niya dahil alam mong may website na ang tindahan niya. Ang naganap na drama sa pagitan ng isang miyembro ng banda at ang kanyang pamangkin ay publikong kaalaman ngunit bilang lamang ang totoong may kilala kay Aling Nena at ang kasaysayang ng kanyang negosyo.
        <br/><br/>
        Sa pahinang ito, ikwekwento ko sa inyo Ang Pinagmulan ng Tindahan ni Aling Nena.
        <br/><br/>
        Hunyo 1975, nagtayo si Nena, na may edad na tatlompu't limang taong gulang, ng isang lamesa sa may tarangkahan ng bahay nila. Kaaalis lamang ni Nena noon sa kanyang trabaho at naghahanap siya ng bagong pagkakakitaan. Maluwag pa sa Lungsod ng Nena noon at kaunti pa lang ang tao, kaya naman madaling nakapagtayo ng pwesto si Nena. Maliliit na abubot na binili niya sa Dibisoria ang ibinenta niya: pantali, makulay na bolpen, laruan at iba pa, na naging patok sa mga kapitbahay niyang dalaga, nanay, at bata. Mahilig din magluto si Nena kaya naman nagbenta rin siya BBQ, kikiam, at skwidbol na kanyang niluto pagka-order. Dahil dito, nahikayat din niyang bumili sa kanya ang mga tambay na binatilyo at mga estudyante sa sa lugar niya. Di kalaunan, masyado ng marami ang suki niyang pumupunta sa tapat ng bahay niya kaya naman nagarkila na si Nena ng pwesto sa lokal na palengke niya.
        <br/><br/>
        Hindi lang ang mga produkto ni Nena ang nakilala sa paglipat niya ng pwesto kundi na rin ang reputasyon niya bilang mapagbigay at mapagkakatiwalaang tindera. Nagka-suki siya mula pa sa mga malalapit na baranggay at mga turistang naghahanap ng produktong may kalidad. Sa paglago ng negosyo niya nakilala ang magiging asawa niyang si Nonoy na siyang naging numero unong suki ng tindahan at puso niya. Ikinasal sila noong 1990 at nagpagawa sila ng bahay di kalayuan sa dating tirahan ni Nena. Dito niya itinayo ang tindahan na siyang makikilala natin bilang Tindahan ni Aling Nena.
        <br/><br/>
        Nakita na matatag ang relasyon na nabuo sa pagitan ni Aling Nena at ng kanyang mga suki dahil siya ay dinayo pa rin sa pagiba niya ng pwesto. Nagpatuloy ang masigarbong negosyo ni Nena na siyang lumago lang nang nagbenta na rin siya ng mga tsitsirya, pampalamig, at kung anu-ano pang karaniwan at kakaibang gamit at pagkain kasabay ng mga patok niyang produkto. Sa sumunod na taon, lalo pang naging kilala ang tindahan ng sari-sari ni Nena sa pagdating ng kapitbahay niyang nagsulat ng kanta tungkol sa kanya. At ika nga ng popular na kasabihan: kasaysayan na ang sumunod na pangyayari.
        <br/><br/>
        Nakatayo pa rin hanggang ngayon ang tindahan ni Aling Nena na pinapagtakbo pa rin ng paborito nating tindera. Bagaman may edad na, patuloy pa rin ang paghatid ni Aling Nena ng may kalidad na produkto na siyang binibigay niya parati ng may sigla at ngiti. Kaya naman bili na sa kanya, maging dito man sa website na ito o sa kanyang tindahan sa Lungsod ng Nena, nang maranasan mo ang serbisyo at produktong totoo.
        <br/><br/></div>
        <p>Sa tindahan lang ni Aling Nena makikita,<br/>
        <b>Sari-saring paninda sa murang halaga, hatid ng kaiga-igayang tindera!</b>
        </p>
        <br/><br/><a href="/products"><img src="/css/index-btn.png"/></a>
        </p>
      </div>

    </div><!-- /.container -->
    <div class="cred">©2014 <a href="http://www.github.com/mikaelamalit">Mikaela Malit</a><br/>Tindahan ni Aling Nena</a></div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>